<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div>
        Hi <%= locals.name %>, <br />
        <div>
            Your credentials:<br />
            <b>Email:</b> <%= locals.email %><br />
        </div>
        <div>
            <h2>Your code: <%= locals.code %></h2>
        </div>
        Thank you for your trust in our,<br />
        Demo code
    </div>
</body>
</html>